footer{

    height: 200px;
    align-self: flex-end;
    width: 100%;
    margin-top: 70px;
    background-color: var(--second-color);
}

footer .contenedor {
    display: flex;
    flex-wrap: wrap;
    
}

footer .sociales {
    width: 100%;
    text-align: right;
    font-size: 28px;
    padding: 10px;
}

footer .sociales a {
    text-decoration: none;
}

footer p{
    text-align: center;
    padding-top: 30px;
    color: var(--light-color);
}

footer span img{
    padding-top: 50px;
    margin-left: 60%;
}

footer .contenedor a{
    color: var(--light-color);
}


/*------------------Dama-----------------------*/

main .shop p{
    width: 30vw;
    height: 70%;
    align-self: flex-end;
    width: 60%;
    margin-top: 20px;
    background-color: var(--second-color);
}

main .shop h2{
    margin-top: 30px;
}

main .shop{
    margin-right: 30px;
    margin-left: 30%;
}


footer div a{
    width: 10px;
    height: 10px;
}

